/* Move our main document below the menu */
.navbar {
	margin-bottom: 0px;
}

.below_menu_container {
  padding-top: 0px;
  height: 100%;
}

.jumbotron {
	padding-top: 100px;
	height: 100%;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #555;
}

span{
  color: white;
}

th {
    background: #5C5CFF;
    color: white;
}

